.intro__list {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  list-style: none;
  max-width: 690px;
  margin: 32px 0 0;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .intro__list {
    margin: 32px 0 0;
  }
}
